{% load widget_tweaks %}

<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Work Order</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
<div class="modal-body">

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
        <label>Work Order No:</label>
        {{ form.instance.id }}
    </div>
 </div>

<div class="col-sm-6">
   <div class="form-group">
        <label>Created Date:</label>
        <span href="#" data-toggle="tooltip" data-placement="left" title="Hooray!">{{ form.instance.created_date|date:"D d/m/y h:m" }}</span>
        
      </div>
</div>

</div>

<form action="{% url 'workorder_update' form.instance.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
        <label>Customer:</label>
        {% render_field form.customer class="form-control" %}
    </div>
 </div>

<div class="col-sm-6">
   <div class="form-group">
        <label>Description:</label>
        {% render_field form.description class="form-control" rows="1" %}
      </div>
</div>

</div>

<div class="row">
  <div class="col-sm-6">
  <div class="form-group">
        <label>Long Description:</label>
        {% render_field form.description_long_text class="form-control" rows="2" %}
      </div>
  </div>
      <div class="col-sm-6">
        <div class="form-group">
        <label>Quote:</label>
        {% render_field form.quote class="form-control"  %}
      </div>
    
  </div>
  
</div>


<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
        <label>Customer Contact Date:</label>
        {% render_field form.customer_contact_date class="form-control" %}
      </div>    
  </div>
<div class="col-sm-6">
       <div class="form-group">
        <label>Quote Sent Date:</label>
        {% render_field form.quote_sent_date class="form-control" %}
      </div>  
</div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
     <label>Revision:</label>
        {% render_field form.revision class="form-control" %}
      </div>
    </div>

<div class="col-sm-6">
      <div class="form-group">
        <label>Promised Delivery Date:</label>
        {% render_field form.promised_delivery_date class="form-control" %}
      </div>  
</div>


  
</div>


<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
        <label>Job Status:</label>
        {% render_field form.job_status class="form-control" %}
      </div>
    
  </div>
</div>





<p class="top10">
  <button type="submit" class="btn btn-primary pull-right">Update</button>
</p>
</form>
</div>

<div class="col-sm-12">
<div class="row" style="margin-top: 10px;">
            <div class="col-sm-6">
              <div class="row">   
                  <div class="col-sm-4"> Customer Name:</div>
                  <div class="col-sm-8"> {{ form.instance.customer.customer_name }}</div>
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="row">   
                  <div class="col-sm-4"> Contact:</div>
                  <div class="col-sm-8">{{ form.instance.customer.customer_contact }}</div>
              </div>
            </div> 

            <div class="col-sm-6">
              <div class="row">   
                  <div class="col-sm-4"> Contact Number:</div>
                  <div class="col-sm-8">{{ form.instance.customer.customer_number }}</div>
              </div>
            </div> 

            <div class="col-sm-6">
              <div class="row">   
                  <div class="col-sm-4"> Email: </div>
                  <div class="col-sm-8"> {{ form.instance.customer.customer_email }} </div>
              </div>
            </div> 

            <div class="col-sm-6">
              <div class="row">   
                  <div class="col-sm-4"> Address:</div>
                  <div class="col-sm-8"> {{ form.instance.customer.customer_address }} </div>
              </div>
            </div> 

            <div class="col-sm-6">
              <div class="row">   
                  <div class="col-sm-4"> Task Complete?</div>
                  <div class="col-sm-8">{% if form.instance.all_tasks_complete %} Yes{% else %}No {% endif %}</div>
              </div>
            </div>            

</div>  
</div>     
     
<div class="row">
<div class="box-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#home8" role="tab" aria-selected="true"><span>Tasks</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile8" role="tab" aria-selected="false"><span>Time Cards</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages8" role="tab" aria-selected="false"><span>Purchases</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#document" role="tab" aria-selected="false"><span>Documentation</span></a> </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
<div class="tab-pane active show" id="home8" role="tabpanel">
           
  <div style="margin-top:5px;">
  <div class="">
    <a data-toggle="modal" data-target="#TaskModel" href="#"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a>
  </div>     
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Task#</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Dur</th>
        <th>Status</th>
        <th>Assigned To</th>
        <th>Due Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.task_description }}</td>
        <td>{{ task.start_date|date:"D d/m/y" }}</td>
        <td>{{ task.end_date|date:"D d/m/y" }}</td>
        <td>{{ task.task_duration }}</td>
        <td>{{ task.task_status }}</td>        
        <td>{% for c in task.task_assigned_to.all %} {{ c }}, {% endfor %}</td>        
        <td>{{ task.task_due_date|date:"D d/m/y" }}</td>  
  <td class="text-center">
    <div class="list-icons d-inline-flex">
      
      <div class="list-icons-item dropdown">
        <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item" id="task_edit" data-url="{% url 'task_update' task.id %}"><i class="fa fa-pencil"></i> Edit</a>
          <a href="{% url 'task_delete' task.id %}" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
        </div>
      </div>
    </div>
  </td> 
      </tr>
      
     {% endfor %}
    </tbody>
  </table>
</div>
          
</div>
            <div class="tab-pane" id="profile8" role="tabpanel">
              <div style="margin-top:5px;">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Time Card#</th>
        <th>Employee</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Hrs</th>
        <th>Approved?</th>
        <th>Approved Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for timecard in timecards %}
      <tr>
        <td>{{ timecard.id }}</td>
        <td>{{ timecard.employee_name }}</td>
        <td>{{ timecard.start_time }}</td>
        <td>{{ timecard.end_time }}</td>     
        <td>{{ timecard.duration }}</td>     
        <td>{% if timecard.approved %} Yes {% else %}No {% endif %}</td>     
        <td>{% if timecard.approved_date %} timecard.approved_date {% endif %}</td>     
        
  <td class="text-center">
    <div class="list-icons d-inline-flex">
      
      <div class="list-icons-item dropdown">
        <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item" ><i class="fa fa-pencil"></i> Approved</a>
        </div>
      </div>
    </div>
  </td>


      </tr>
      
     {% endfor %}
    </tbody>
  </table>
</div>
</div>
           
<div class="tab-pane" id="messages8" role="tabpanel">
  <div style="margin-top:5px;">
    <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>PO#</th>
        <th>Po Status</th>
        <th>Line Text</th>
        <th>QTY</th>
        <th>Cost</th>
        <th>Gst</th>
        <th>Line Cost</th>
        <th>Promiosed Delivery Date</th>
        <th>Approved?</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.purchase.id }}</td>
        <td>{{ item.purchase.po_status }}</td>
        <td>{{ item.line_text }}</td>
        <td>{{ item.quantity }}</td> 
        <td>{{ item.po_cost_ex_gst }}</td> 
        <td>{{ item.gst }}</td> 
        <td>{{ item.line_cost }}</td> 
        <td>{{ item.purchase.promised_delivery_date }}</td> 
        <td>{% if item.approved %} Yes {% else %} No {% endif %}</td> 

  <td class="text-center">
    <div class="list-icons d-inline-flex">
      
      <div class="list-icons-item dropdown">
        <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item" ><i class="fa fa-pencil"></i> Approved</a>
        </div>
      </div>
    </div>
  </td>   


      </tr>
      
     {% endfor %}
    </tbody>
  </table>
              </div>
            </div>



<div class="tab-pane" id="document" role="tabpanel">
           
  <div style="margin-top:5px;">         
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>ID#</th>
        <th>Category</th>
        <th>Action</th>
    
      </tr>
    </thead>
    <tbody>
      {% for document in documentation %}
      <tr>
        <td>{{ document.id }}</td>
        <td>{{ document.category }}</td>

  <td class="text-center">
    <div class="list-icons d-inline-flex">
      
      <div class="list-icons-item dropdown">
        <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="{{ document.document.url }}" class="dropdown-item"><i class="fa fa-download"></i> Download</a>
        </div>
      </div>
    </div>
  </td>  


      </tr>
      
     {% endfor %}
    </tbody>
  </table>
</div>

          </div>
        </div>

</div>

        </div>
        

        
      </div>
    </div>
  </div>


<div class="modal fade" id="TaskModel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Create Task</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'task_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        
      <input type="hidden" name="work_order" value="{{ form.instance.id }}">


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Task Description:</label>
          {% render_field task_form.task_description rows="1" class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Start Date:</label>
          {% render_field task_form.start_date class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>End Date:</label>
          {% render_field task_form.end_date class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Task Status:</label>
          {% render_field task_form.task_status class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Task Assigned To:</label>
          {% render_field task_form.task_assigned_to style="background: #3a3e52;" class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Task Due Date:</label>
           {% render_field task_form.task_due_date class="form-control" %}
        </div>
  </div>
</div>

<p class="top10">
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
  <button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>
      </form>

    </div>
        </div>
        

      </div>
    </div>
  </div>

  <div id="editcontainertask">
    
  </div>

  <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $("[id='task_edit']").click(wmlloadTaskForm);
});
</script>