{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}


<div class="content-header">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="page-title">Employee List</h3>
			<div class="d-inline-block align-items-center">
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
						<li class="breadcrumb-item" aria-current="page">Employee</li>
						<li class="breadcrumb-item active" aria-current="page">Employee List
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="right-title">
		</div>
	</div>
</div>


<section class="content">

		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						<div class="pull-right">
							<a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a>
						</div>		
							<h4 class="box-title">Employee List</h4>
							<h6 class="box-subtitle">Export Employee List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body">						
							<div class="table-responsive">
								
								<table id="example" class="table table-lg invoice-archive">
									<thead>
										<tr>
											<th>#</th>
											<th>External System</th>
											<th>Nname</th>
											<th>Start Date</th>
											<th>Terminate Date</th>								
											<th>Phone Number</th>
											<th>Emergency Contact</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									{% for employee in employee_list %}
										<tr>
											<td>#{{ employee.id }}</td>
											<td>{{ employee.external_system }}</td>
											<td> {{ employee.name }}	</td>
									
											<td>{{ employee.start_date|date:"D d/m/y" }}</td>
											<td>
												{{ employee.terminate_date|date:"D d/m/y" }}
											</td>
											
											<td>
												
												{{ employee.phone_number }} 
											</td>
											<td>
												{{ employee.emergency_contact }}
											</td>
											<td class="text-center">
												<div class="list-icons d-inline-flex">
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" class="dropdown-item" data-url="{% url 'employee_update' employee.id %}" id="employee_edit"><i class="fa fa-pencil" ></i> Edit</a>
															<a href="{% url 'employee_delete' employee.id %}" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
														</div>
													</div>
												</div>
											</td>
										</tr>

										{% endfor %}



									</tbody>
								</table>
																
							</div>
						</div>
					</div>
				</div>
			</div>
		  <!-- /.row -->

		</section>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Create Employee</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'employee_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>External System:</label>
        	{% render_field employee_form.external_system class="form-control" %}
    	</div>
 	</div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>Name:</label>
	        {% render_field employee_form.name class="form-control" %}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>Start Date:</label>
        	{% render_field employee_form.start_date class="form-control" %}
    	</div>
 	</div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>Image:</label>
	        {% render_field employee_form.photo class="form-control" %}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>Address:</label>
        	{% render_field employee_form.address class="form-control" rows="1" %}
    	</div>
 	</div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>Phone Number:</label>
	        {% render_field employee_form.phone_number class="form-control" %}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>Emergency Contact:</label>
        	{% render_field employee_form.emergency_contact class="form-control" %}
    	</div>
 	</div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>Emergency Contact Relationship:</label>
	        {% render_field employee_form.emergency_contact_relationship class="form-control" %}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>Emergency Contact Number:</label>
        	{% render_field employee_form.emergency_contact_number class="form-control" %}
      	</div>
    </div>

	<div class="col-sm-6">
		 <div class="form-group">
	      	<label>Cost Rate:</label>
	        {% render_field employee_form.cost_rate class="form-control" %}
	      </div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      		<label>Chargeout Rate:</label>
        	{% render_field employee_form.chargeout_rate class="form-control" %}
      	</div>
    </div>
</div>



      
<p class="top10">
	<button type="submit" class="btn btn-primary pull-right">Submit</button>
	<button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

      </form>

    </div>
        </div>
    
      </div>
    </div>
  </div>

<div id="editcontainer"></div>


{% endblock %}