{% load widget_tweaks %}


<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Employee </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'employee_update' form.instance.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>External System:</label>
          {% render_field form.external_system class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Name:</label>
          {% render_field form.name class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Start Date:</label>
          {% render_field form.start_date class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Image:</label>
          {% render_field form.photo class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Address:</label>
          {% render_field form.address class="form-control" rows="1" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Phone Number:</label>
          {% render_field form.phone_number class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Emergency Contact:</label>
          {% render_field form.emergency_contact class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Emergency Contact Relationship:</label>
          {% render_field form.emergency_contact_relationship class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Emergency Contact Number:</label>
          {% render_field form.emergency_contact_number class="form-control" %}
        </div>
    </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Cost Rate:</label>
          {% render_field form.cost_rate class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Chargeout Rate:</label>
          {% render_field form.chargeout_rate class="form-control" %}
        </div>
    </div>
  <div class="col-sm-6">
    <div class="form-group">
          <label>Terminate Date:</label>
          {% render_field form.terminate_date class="form-control" %}
        </div>
    </div>
</div>



      
<p class="top10">
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
  <button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

      </form>

    </div>
        </div>
        
      </div>
    </div>
  </div>