{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Work Management Lite Application</title>
  

{% include 'css.html' %}

  <style>
    .xactive{
      background-color: #3e8ef71a !important;
    }
    textarea {
      resize: none;
    }

  input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

  .top10{
    margin-top: 10px;
  }

  .right10{
    margin-right: 10px;
  }

  .form-group {
      margin-bottom: 0 !important;;
  }

  label {
      margin-bottom: 0;
      margin-top: 8px;
  }

  .add-row{
    margin: 10px !important;
  }
.modal {
  overflow-y:auto;
}



  </style>

</head>

<body class="hold-transition skin-info dark-sidebar sidebar-mini dark">
<div class="wrapper">
{% include 'header.html' %}
{% include 'sidebar.html' %}
  
  <div class="content-wrapper">
	  <div class="container">

		{% block content %}
		{% endblock %}

	  </div>
  </div>
 
   <footer class="main-footer">
	  &copy; 2018 <a href="">Company Name</a>. All Rights Reserved.
  </footer>
</div>

{% include 'js.html' %}
{% block js %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
	
</body>
</html>
