{% load staticfiles %}

  <header class="main-header">
    <!-- Logo -->
    <a href="" class="logo">
      <!-- mini logo -->
	  <div class="logo-mini">
		  <span class="light-logo"><img src="{% static 'img/logo.png' %}" alt="logo" style="width: 70%;"></span>
	  </div>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
	  <div>
		  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<i class="fa fa-align-left"></i>
		  </a>		
	  </div>
		
      <div class="navbar-custom-menu r-side">
        <ul class="nav navbar-nav">
		  <!-- Messages -->
		  <!-- Notifications -->
		  <!-- Tasks-->
		  <!-- User Account-->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'img/1.jpg' %}" class="user-image rounded-circle" alt="User Image">
            </a>
            <ul class="dropdown-menu animated flipInX">
              <!-- User image -->
              <li class="user-header bg-img" style="background-image: url({% static 'img/user-info.jpg' %})" data-overlay="3">
				  <div class="flexbox align-self-center">					  
				  	<img src="{% static 'img/1.jpg' %}" class="float-left rounded-circle" alt="User Image">					  
					<h4 class="user-name align-self-center">
					  <span>{% if request.user.first_name %}{{ request.user.first_name }}{% else %} {{ request.user }} {% endif %}</span>
					  <small>{{ request.user.email }}</small>
					</h4>
				  </div>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
            <a class="dropdown-item" href="{% url 'change_password' %}"><i class="fa fa-key"></i> Change Password</a>
				    <a class="dropdown-item" href="{% url 'preference_update' request.user.preference.id %}"><i class="fa fa-cog"></i> Preference</a>
					<a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Logout</a>
					<div class="dropdown-divider"></div>
					<div class="p-10"><a href="{% url 'user_details' request.user.id %}" class="btn btn-sm btn-rounded btn-success">View Profile</a></div>
              </li>
            </ul>
          </li>	
			
		  
          <!-- Control Sidebar Toggle Button -->
			
        </ul>
      </div>
    </nav>
  </header>