{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}

{% if perms.workorder.add_workorder %}
          <h1>add</h1>
{% endif %}

{% if perms.workorder.change_workorder %}
          <h1>change</h1>
{% endif %}

		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Work Order List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Work Order</li>
								<li class="breadcrumb-item active" aria-current="page">Work Order List</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>


<section class="content">

		  <div class="row">
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-success">
				  <div class="box-body">
					<div class="flexbox">
					  
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">{{ open_order }}</div>
					  <span>Open Work Orders</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-primary">
				  <div class="box-body">
					<div class="flexbox">
					  
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">{{ deu_date }}</div>
					  <span>Work Orders Due This week</span>
					</div>
				  </div>				
				</div>
			</div>
			<!-- /.col -->

			<div class="col-xl-4 col-md-6 col-12">
				<div class="box box-inverse box-danger">
				  <div class="box-body">
					<div class="flexbox">
					  
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">{{ overdeu_date }}</div>
					  <span>Work Orders Overdue</span>
					</div>
				  </div>

				</div>
			</div>
			<!-- /.col -->
<!-- 			<div class="col-xl-3 col-md-6 col-12">
				<div class="box box-inverse box-warning">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Pending Invoice</h5>
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">00</div>
					  <span>Pending</span>
					</div>
				  </div>
				</div>
			</div> -->
			<!-- /.col -->

		  </div>	

		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						<div class="pull-right">
							<a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a>
						</div>		
							<h4 class="box-title">Work Order List</h4>
							<h6 class="box-subtitle">Export Work Order List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body">						
							<div class="table-responsive">
								
								<table id="example" class="table table-lg invoice-archive">
									<thead>
										<tr>
											<th>#</th>
											<th>Description</th>
											<th>Quote sent date</th>
											<th>Job status</th>
											<th>Customer contact date</th>
											<th>Initial deu date</th>
											<th>Quote</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									{% for workorder in workorders %}
										<tr>
											<td>#{{ workorder.id }}</td>
											<td>{{ workorder.description }}</td>
											<td> {{ workorder.quote_sent_date|date:"D d/m/y" }}	</td>
									
											<td>{{ workorder.job_status }}</td>
											<td>
												{{ workorder.customer_contact_date|date:"D d/m/y" }}
											</td>
											<td>
												<span class="badge badge-success"> {{ workorder.initial_deu_date }}</span>
											</td>
											<td>
												<h6 class="mb-0 font-weight-bold">
												{{ workorder.quote }} </h6>
											</td>
											<td class="text-center">
												<div class="list-icons d-inline-flex">
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" class="dropdown-item" id="workorder_edit" data-url = "{% url 'workorder_update' workorder.id %}" >
																<i class="fa fa-pencil"></i> Edit</a>
															<a href="{% url 'workorder_delete' workorder.id %}" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
														</div>
													</div>
												</div>
											</td>
										</tr>

										{% endfor %}



									</tbody>
								</table>
																
							</div>
						</div>
					</div>
				</div>
			</div>
		  <!-- /.row -->

		</section>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Work Order</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'workorder_create' %}" method="POST">{% csrf_token %}

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
      	<label>Customer:</label>
        {% render_field work_form.customer class="form-control" %}
    </div>
 </div>

<div class="col-sm-6">
	 <div class="form-group">
      	<label>Description:</label>
        {% render_field work_form.description class="form-control" rows="1" %}
      </div>
</div>

</div>

<div class="row">
	<div class="col-sm-6">
	<div class="form-group">
      	<label>Long Description:</label>
        {% render_field work_form.description_long_text class="form-control" rows="1" %}
      </div>
  </div>
      <div class="col-sm-6">
      	<div class="form-group">
      	<label>Quote:</label>
        {% render_field work_form.quote class="form-control"  %}
      </div>
		
	</div>
	
</div>


<div class="row">
	<div class="col-sm-6">
      <div class="form-group">
      	<label>Customer Contact Date:</label>
        {% render_field work_form.customer_contact_date class="form-control" %}
      </div>		
	</div>
<div class="col-sm-6">
       <div class="form-group">
       	<label>Quote Sent Date:</label>
        {% render_field work_form.quote_sent_date class="form-control" %}
      </div>	
</div>
</div>


<div class="row">
	<div class="col-sm-6">
 		<div class="form-group">
 		 <label>Revision:</label>
        {% render_field work_form.revision class="form-control" %}
      </div>
    </div>

<div class="col-sm-6">
      <div class="form-group">
      	<label>Promised Delivery Date:</label>
        {% render_field work_form.promised_delivery_date class="form-control" %}
      </div>	
</div>


	
</div>


<div class="row">
	<div class="col-sm-6">
      <div class="form-group">
      	<label>Job Status:</label>
        {% render_field work_form.job_status class="form-control" %}
      </div>
		
	</div>
</div>





<p class="top10">
	<button type="submit" class="btn btn-primary pull-right">Submit</button>
	<button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

      </form>

    </div>
        </div>
        

      </div>
    </div>
  </div>

  <div id="editcontainer"></div>

{% endblock %}