	{% load staticfiles %}
	<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
    <script src="{% static 'js/datatables.min.js' %}"></script>
	<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

	<script src="{% static 'js/template.js' %}"></script>
	<script src="{% static 'js/data-table.js' %}"></script>

	<script src="{% static 'js/index.js' %}"></script>
	
	<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
