{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<section class="content">
	<div class="row">
		<div class="col-12 col-lg-7 col-xl-8"></div>
		<div class="col-12 col-lg-5 col-xl-4">			

				 <div class="box box-widget widget-user">
					<!-- Add the bg color to the header using any of the bg-* classes -->
					<div class="widget-user-header bg-black" style="background: url('../../images/gallery/full/10.jpg') center center;">
					  <h3 class="widget-user-username">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
					  <h6 class="widget-user-desc">Designer</h6>
					</div>
					<div class="widget-user-image">
					  <img class="rounded-circle" src="{{ request.user.employee.photo.url }}" alt="User Avatar">
					</div>
					<div class="box-footer">
					  <div class="row">
						<div class="col-sm-4">
						  <div class="description-block">
							<h5 class="description-header">12K</h5>
							<span class="description-text">FOLLOWERS</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-4 br-1 bl-1">
						  <div class="description-block">
							<h5 class="description-header">{{ request.user.last_login|date:'y-m-d h:m' }}</h5>
							<span class="description-text">LAST LOGIN</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-4">
						  <div class="description-block">
							<h5 class="description-header">{{ total_hr }}</h5>
							<span class="description-text">TOTAL APPROVED HOUR</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
					  </div>
					  <!-- /.row -->
					</div>
				  </div>


				  <!-- Profile Image -->
				  <div class="box">
					<div class="box-body box-profile">            
					  <div class="row">
						<div class="col-12">
							<p class="pull-right"><a href="#">Edit</a></p>
							<div>
								<p>Email :<span class="text-gray pl-10">{{ request.user.email }}</span> </p>
								<p>Phone :<span class="text-gray pl-10">{{ request.user.employee.phone_number }}</span></p>
								<p>Address :<span class="text-gray pl-10">{{ request.user.employee.address }}</span></p>
							</div>
						</div>
					  </div>
					</div>
					<!-- /.box-body -->
				  </div>

				  <!-- /.box -->

				

			  </div>
	</div>
</section>


{% endblock %}