  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">
      
      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">
		  
	
       <li>
          <a href="{% url 'home' %}" id="id_workorder">
            <i class="mdi mdi-wrench"></i>
              <span>Work Order</span>
          </a>
        </li> 


		   <li>
          <a href="{% url 'employee_list' %}" id="id_employee">
            <i class="mdi mdi-contact-mail"></i>
              <span>Employee</span>
          </a>
        </li> 

          <li>
          <a href="{% url 'customer_list' %}" id="id_customer">
            <i class="mdi mdi-human-male"></i>
      <span>Customer</span>
          </a>
        </li> 

		  <li>
          <a href="{% url 'purchase_list' %}" id="id_purchase">
            <i class="mdi mdi-cart-outline"></i>
			<span>Purchase</span>
          </a>
        </li> 
        
          <li>
          <a href="{% url 'timecard_list' %}" id="id_timecard">
            <i class="mdi mdi-clock"></i>
              <span>Time card</span>
          </a>
        </li> 



          <li>
          <a href="{% url 'documentation_list' %}" id="id_documentation">
            <i class="mdi mdi-paperclip"></i>
            <span>Documentation</span>
          </a>
        </li> 


          <li>
          <a href="{% url 'invoice_list' %}" id="id_invoice">
            <i class="mdi mdi-credit-card-multiple"></i>
            <span>Invoice</span>
          </a>
        </li> 


      </ul>
    </section>
  </aside>
  