{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

<div class="content-header">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="page-title">Change Password</h3>
      <div class="d-inline-block align-items-center">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item" aria-current="page">password</li>
            <li class="breadcrumb-item active" aria-current="page">change password
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="right-title">
    </div>
  </div>
</div>


  <form class="form-horizontal" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}


<div class="col-sm-6">
  <div class="col-sm-12">
    <div class="form-group">
          <label>Old Password:</label>
          {% render_field form.old_password class="form-control" rows="1" %}
      </div>
  </div>

  <div class="col-sm-12">
     <div class="form-group">
          <label>New Password:</label>
          {% render_field form.new_password1 class="form-control" %}
        </div>
  </div>

  <div class="col-sm-12">
     <div class="form-group">
          <label>Confirm Password:</label>
          {% render_field form.new_password2 class="form-control" %}
        </div>
  </div>

<div class="col-sm-12">
<p class="top10">
<button type="submit" class="btn btn-primary pull-right">Chang Password</button>
</p>
</div>

</div>



</form>

{% endblock content %}
