{% extends 'registration/reg_base.html' %}
{% load staticfiles %}
{% block content %}

<div class="p-30 content-bottom rounded bg-img box-shadowed" style="background-image: url({% static 'img/auth-bg/bg.jpg' %});" data-overlay="8">
  <p style="color: #fff;">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p style="color: #fff;">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
</div>
{% endblock %}

