{% extends "registration/reg_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="p-30 content-bottom rounded bg-img box-shadowed" style="background-image: url({% static 'img/auth-bg/bg.jpg' %});" data-overlay="8">
  <form action="" method="post">{% csrf_token %}
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text  bg-transparent bt-0 bl-0 br-0 text-white"><i class="ti-email"></i></span>
        </div>
        <input type="email" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 text-white" id="id_email" name="email" placeholder="Your Email">
      </div>
    </div>
      <div class="row">
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-info btn-block margin-top-10">Reset</button>
      </div>
      <!-- /.col -->
      </div>
  </form> 
</div>
{% endblock %}