{% extends 'registration/reg_base.html' %}
{% load staticfiles %}
{% block content %}


<div class="p-30 content-bottom rounded bg-img box-shadowed" style="background-image: url({% static 'img/auth-bg/bg.jpg' %});" data-overlay="8">
  {% if validlink %}
  <form action="" method="post">{% csrf_token %}
      <div class="auth_error">
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
      </div>
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text  bg-transparent bt-0 bl-0 br-0 text-white"><i class="ti-lock"></i></span>
        </div>
        <input type="password" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 text-white" id="id_new_password1" name="new_password1" placeholder="New Password">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text  bg-transparent bt-0 bl-0 br-0 text-white"><i class="ti-lock"></i></span>
        </div>
        <input type="password" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 text-white" id="id_new_password2" name="new_password2" placeholder="Confirm password">
      </div>
    </div>
    
      <div class="row">
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-info btn-block margin-top-10">Reset</button>
      </div>
      </div>
  </form> 

  {% else %}
    <p style="color: #fff;">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>

  {% endif %}
</div>



{% endblock %}
    </div>