{% extends "registration/reg_base.html" %}
{% load staticfiles %}
{% block content %}

<div class="p-30 content-bottom rounded bg-img box-shadowed" style="background-image: url({% static 'img/auth-bg/bg.jpg' %});" data-overlay="8">
	<form action="" method="post"> {% csrf_token %}
	    <div class="auth_error">
			{% if form.errors %}
			    {% for field in form %}
			        {% for error in field.errors %}
			            <div class="alert alert-danger">
			                <strong>{{ error|escape }}</strong>
			            </div>
			        {% endfor %}
			    {% endfor %}
			    {% for error in form.non_field_errors %}
			        <div class="alert alert-danger">
			            <strong>{{ error|escape }}</strong>
			        </div>
			    {% endfor %}
			{% endif %}
	    </div>
		<div class="form-group">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text bg-transparent bt-0 bl-0 br-0 no-radius text-white"><i class="ti-user"></i></span>
				</div>
				<input type="text" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 no-radius text-white" id="id_username" name="username" placeholder="Username">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text bg-transparent bt-0 bl-0 br-0 no-radius text-white"><i class="ti-user"></i></span>
				</div>
				<input type="text" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 no-radius text-white" id="id_first_name" name="first_name" placeholder="First Name">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text bg-transparent bt-0 bl-0 br-0 no-radius text-white"><i class="ti-user"></i></span>
				</div>
				<input type="text" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 no-radius text-white" id="last_name" name="last_name" placeholder="Last Name">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text bg-transparent bt-0 bl-0 br-0 no-radius text-white"><i class="ti-email"></i></span>
				</div>
				<input type="email" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 no-radius text-white" id="id_email" name="email" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text bg-transparent bt-0 bl-0 br-0 no-radius text-white"><i class="ti-lock"></i></span>
				</div>
				<input type="password" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 no-radius text-white" id="id_password" name="password" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text bg-transparent bt-0 bl-0 br-0 no-radius text-white"><i class="ti-lock"></i></span>
				</div>
				<input type="password" class="form-control pl-15 bg-transparent bt-0 bl-0 br-0 no-radius text-white" id="id_confirm_password" name="confirm_password" placeholder="Retype Password">
			</div>
		</div>
		  <div class="row">
			<div class="col-12">
			  <div class="checkbox text-white">
				<input type="checkbox" id="basic_checkbox_1" >
				<label for="basic_checkbox_1">I agree to the <a href="#" class="text-warning"><b>Terms</b></a></label>
			  </div>
			</div>
			<!-- /.col -->
			<div class="col-12 text-center">
			  <button type="submit" class="btn btn-info btn-block margin-top-10">SIGN IN</button>
			</div>
			<!-- /.col -->
		  </div>
	</form>													

	<div class="text-center">
		<p class="mt-15 mb-0 text-white">Already have an account?<a href="{% url 'login' %}" class="text-danger ml-5"> Sign In</a></p>
	</div>
</div>

{% endblock content %}