{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}


		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Time Card List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Time Card</li>
								<li class="breadcrumb-item active" aria-current="page">Time Card List
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>


<section class="content">

		  <div class="row">
			<div class="col-xl-6 col-md-6 col-12 ">
				<div class="box box-inverse box-success">
				  <div class="box-body">
					<div class="flexbox">
					  
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">{{ not_approved }}</div>
					  <span>Open Time Cards not Approved</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xl-6 col-md-6 col-12 ">
				<div class="box box-inverse box-primary">
				  <div class="box-body">
					<div class="flexbox">
					  
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">{{ duration }}</div>
					  <span>Employee time cards not approved > 8 Duration</span>
					</div>
				  </div>				
				</div>
			</div>
			<!-- /.col -->

<!-- 			<div class="col-xl-3 col-md-6 col-12">
				<div class="box box-inverse box-danger">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Overdue Payment Invoice</h5>
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">00</div>
					  <span>Overdue Payment Invoice</span>
					</div>
				  </div>

				</div>
			</div> -->
			<!-- /.col -->
<!-- 			<div class="col-xl-3 col-md-6 col-12">
				<div class="box box-inverse box-warning">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Pending Invoice</h5>
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">00</div>
					  <span>Pending</span>
					</div>
				  </div>
				</div>
			</div> -->
			<!-- /.col -->

		  </div>	

		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">
						<div class="pull-right">
							<a data-toggle="modal" data-target="#myModal" href="#"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a>
						</div>		
							<h4 class="box-title">Time Card List</h4>
							<h6 class="box-subtitle">Export Time Card List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body">						
							<div class="table-responsive">
								
								<table id="example" class="table table-lg invoice-archive">
									<thead>
										<tr>
											<th>#</th>
											<th>Work Order</th>
											<th>Employee name</th>
											<th>Start time</th>
											<th>End time</th>								
											<th>Duration</th>
											<th>Approved</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									{% for timecard in timecard_list %}
										<tr>
											<td>#{{ timecard.id }}</td>
											<td>{{ timecard.work_order }}</td>
											<td> {{ timecard.employee_name }}	</td>
									
											<td>{{ timecard.start_time|date:"D d/m/y h:m" }}</td>
											<td>
												{{ timecard.end_time|date:"D d/m/y h:m" }}
											</td>
											
											<td>
												
												{{ timecard.duration }} 
											</td>
											<td>
												{% if timecard.approved %}
												Yes
												{% else %}
												No
												{% endif %}
											</td>
											<td class="text-center">
												<div class="list-icons d-inline-flex">
													
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" class="dropdown-item" id = "timecard_edit" data-url = "{% url 'timecard_update' timecard.id %}"><i class="fa fa-pencil"></i> Edit</a>
															<a href="{% url 'timecard_approved' timecard.id %}" class="dropdown-item"><i class="mdi mdi-check"></i> Approved</a>

															<a href="{% url 'timecard_delete' timecard.id %}" class="dropdown-item"><i class="fa fa-remove"></i> Remove</a>
														</div>
													</div>
												</div>
											</td>
										</tr>

										{% endfor %}



									</tbody>
								</table>
																
							</div>
						</div>
					</div>
				</div>
			</div>
		  <!-- /.row -->

		</section>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Time Card</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'timecard_create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

       <div class="form-group">
       	<label>Work Order:</label>
        {% render_field timecard_form.work_order class="form-control" %}
      </div>      	
       <div class="form-group">
       	<label>Employee Name:</label>
        {% render_field timecard_form.employee_name class="form-control" %}
      </div> 
       <div class="form-group">
       	<label>Start Date:</label>
        {% render_field timecard_form.start_time class="form-control" id="form_datetime" %}
      </div>
       <div class="form-group">
       	<label>End Date:</label>
        {% render_field timecard_form.end_time class="form-control" id="form_datetime" %}
      </div> 
<p class="top10">
	<button type="submit" class="btn btn-primary pull-right">Submit</button>
	<button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
</p>

      </form>

    </div>
        </div>
        

        
      </div>
    </div>
  </div>

  <div id="editcontainer">
  	
  </div>

{% endblock %}