
        <div class="col-sm-12">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Qty</th>
                  <th>Cost</th>
                  <th>Gst</th>
                  <th>Markup %</th>
                  <th>Markup $</th>
                  <th>Line Total Ex Gst</th>
                  <th>Line Total</th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr id="item{{item.id}}">
                  <td>{{ item.line_text }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>${{ item.po_cost_ex_gst|floatformat:2 }}</td>
                  <td>${{ item.gst|floatformat:2 }}</td>
                  <td><input data-url="/update/markup/percentage/{{ item.id }}/" id="mp" type="number" step="0.1" class="form-control" value="{{ item.mp }}" name="markup_p"></td>
                  <td><input data-url="/update/markup/amount/{{ item.id }}/" id="ma" type="number" step="0.1" class="form-control" value="{{ item.ma }}" name="markup_a"></td>
                  <td>${{ item.get_total_ex_gst|floatformat:2 }}</td>
                  <td>${{ item.line_cost|floatformat:2 }}</td>
                </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>ITEM TOTAL</td>
                  <td>${{ po_total_cost|floatformat:2 }}</td>
                </tr>

              </tbody>
            </table>
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th>Time Card</th>
                  <th>Chargeout Rate</th>
                  <th>Duration</th>
                  <th>Gst</th>
                  <th>Markup %</th>
                  <th>Markup $</th>
                  <th>Line Total Ex Gst</th>
                  <th>Line Total</th>
                </tr>
              </thead>
              <tbody>
                {% for card in tmcs %}
                <tr id="tmcs{{item.id}}">
                  <td>{{ card.id }}</td>
                  <td>${{ card.employee_name.chargeout_rate|floatformat:2 }}</td>
                  <td>{{ card.duration|floatformat:2 }}</td>
                  <td>${{ card.gst|floatformat:2 }}</td>
                  <td><input data-url="/timecard/update/markup/percentage/{{ card.id }}/" id="tmp" type="number" step="0.1" class="form-control" value="{{ card.mp }}" name="markup_p"></td>
                  <td><input data-url="/timecard/update/markup/amount/{{ card.id }}/" id="tma" type="number" step="0.1" class="form-control" value="{{ card.ma }}" name="markup_a"></td>
                  <td>${{ card.get_total_ex_gst|floatformat:2 }}</td>
                  <td>${{ card.total_cost|floatformat:2 }}</td>
                </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>TIME CARD TOTAL</td>
                  <td>${{ time_total_cost|floatformat:2 }}</td>
                </tr>
                <tr style="background-color: #3e3e3eb3;">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>TOTAL</td>
                  <td>${{ total_final|floatformat:2 }}</td>
                </tr>

              </tbody>
            </table> 
        </div>
      

<script>
$("[id='mp']").bind('keyup change', function (e) {
    if (! $(this).data("previousValue") || 
           $(this).data("previousValue") != $(this).val()
       )
   {       
        $(this).data("previousValue", $(this).val());
   }

    var url = $(this).attr("data-url")
    var furl = url + $(this).val() + "/"
    console.log(furl)
    $.ajax({
      url: furl,
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data.update_row)
        $("#inv_container").html("")
        $("#inv_container").html(data.update_row)
      }
    });
        
});

$("[id='ma']").bind('keyup change', function (e) {
    if (! $(this).data("previousValue") || 
           $(this).data("previousValue") != $(this).val()
       )
   {       
        $(this).data("previousValue", $(this).val());
   }

    var url = $(this).attr("data-url")
    var furl = url + $(this).val() + "/"
    console.log(furl)
    $.ajax({
      url: furl,
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data.update_row)
        $("#inv_container").html("")
        $("#inv_container").html(data.update_row)
      }
    });
        
});

$("[id='tmp']").bind('keyup change', function (e) {
    if (! $(this).data("previousValue") || 
           $(this).data("previousValue") != $(this).val()
       )
   {       
        $(this).data("previousValue", $(this).val());
   }

    var url = $(this).attr("data-url")
    var furl = url + $(this).val() + "/"
    console.log(furl)
    console.log($(this).val())
    $.ajax({
      url: furl,
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data.update_row)
        $("#inv_container").html("")
        $("#inv_container").html(data.update_row)
      }
    });
        
});

$("[id='tma']").bind('keyup change', function (e) {
    if (! $(this).data("previousValue") || 
           $(this).data("previousValue") != $(this).val()
       )
   {       
        $(this).data("previousValue", $(this).val());
   }

    var url = $(this).attr("data-url")
    var furl = url + $(this).val() + "/"
    console.log(furl)
    console.log($(this).val())
    $.ajax({
      url: furl,
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data.update_row)
        $("#inv_container").html("")
        $("#inv_container").html(data.update_row)
      }
    });
        
});


</script>