{% extends 'base.html' %}
{% load widget_tweaks %}


{% block content %}


		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">Invoice List</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Invoice</li>
								<li class="breadcrumb-item active" aria-current="page">Invoice List
								</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="right-title">
				</div>
			</div>
		</div>


<section class="content">

		  <div class="row">
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-success">
				  <div class="box-body">
					<div class="flexbox">
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">{{ not_approved }}</div>
					  <span>Invoice Requiring Approval</span>
					</div>
				  </div>
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xl-4 col-md-6 col-12 ">
				<div class="box box-inverse box-primary">
				  <div class="box-body">
					<div class="flexbox">
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">{{ inv_not_sent }}</div>
					  <span>PO Invoice not sent but approved</span>
					</div>
				  </div>				
				</div>
			</div>
			<!-- /.col -->

			<div class="col-xl-4 col-md-6 col-12">
				<div class="box box-inverse box-danger">
				  <div class="box-body">
					<div class="flexbox">
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">0</div>
					  <span>Invoices where the Costs <= Job Costs</span>
					</div>
				  </div>

				</div>
			</div>
			<!-- /.col -->
<!-- 			<div class="col-xl-3 col-md-6 col-12">
				<div class="box box-inverse box-warning">
				  <div class="box-body">
					<div class="flexbox">
					  <h5>Pending Invoice</h5>
					</div>

					<div class="text-center my-2">
					  <div class="font-size-60">00</div>
					  <span>Pending</span>
					</div>
				  </div>
				</div>
			</div> -->
			<!-- /.col -->

		  </div>	

		  <div class="row">
				<div class="col-12">
					<div class="box">
						<div class="box-header with-border">		
							<h4 class="box-title">Invoice List</h4>
							<h6 class="box-subtitle">Export Invoice List to Copy, CSV, Excel, PDF & Print</h6>
						</div>
						<div class="box-body">						
							<div class="table-responsive">
								
								<table id="example" class="table table-lg invoice-archive">
									<thead>
										<tr>
											<th>#ID</th>
											<th>Invoice Work Order</th>
											<th>Invoice Date</th>
											<th>Invoice Status</th>
											<th>Expected Payment Date</th>
											<th>Invoice Customer</th>
											<th>Approved?</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>

									{% for invoice in invoice_list %}
										<tr>
											<td>#{{ invoice.id }}</td>
											<td>{{ invoice.work_order }}</td>
											<td>{{ invoice.invoice_date|date:"D d/m/y" }}</td>
											<td>{{ invoice.invoice_status }}</td>
											<td>{{ invoice.expected_payment_date|date:"D d/m/y" }}</td>
											<td>{{ invoice.invoice_customer }} </td>
											<td>{{ invoice.approved }} </td>
											<td class="text-center">
												<div class="list-icons d-inline-flex">
													<div class="list-icons-item dropdown">
														<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text"></i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a href="#" id="invoice_edit" data-url="{% url 'invoice_update' invoice.id %}" class="dropdown-item"><i class="fa fa-pencil" ></i> Edit</a>
															<a href="{% url 'invoice_paid' invoice.id %}" data-url="{% url 'invoice_update' invoice.id %}" class="dropdown-item"><i class="fa fa-money" ></i> Paid</a>
															<a href="{% url 'invoice_sent' invoice.id %}"  data-url="{% url 'invoice_update' invoice.id %}" class="dropdown-item"><i class="fa fa-file" ></i> Sent</a>
															<a href="{% url 'invoice_approved' invoice.id %}" class="dropdown-item"><i class="mdi mdi-check"></i>Approved</a>

														</div>
													</div>
												</div>
											</td>
										</tr>

										{% endfor %}



									</tbody>
								</table>
																
							</div>
						</div>
					</div>
				</div>
			</div>
		  <!-- /.row -->

		</section>


<div id="editcontainer"></div>


{% endblock %}