{% load widget_tweaks %}
<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Invoice</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'invoice_update' form.instance.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

      <div class="row">
        <div class="col-sm-6">
          {% if form.instance.invoice_from_org %}
          {% render_field form.invoice_from_org class="form-control" rows="2" %}
          {% else %}
            <textarea name="invoice_from_org" cols="40" rows="2" class="form-control" id="id_invoice_from_org">{{ inv_form }}</textarea>
          {% endif %}
          
        </div>
        <div class="col-sm-5">
          <img src="{{ request.user.preference.logo.url }}" style="width: 30%;" class="pull-right">
        </div>
        <div class="col-sm-12" style="font-size: 20px;">
          <p><center><b>Invoice</b></center></p>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-2">
              <label>To</label>
            </div>
            <div class="col-sm-10">
              {% render_field form.invoice_to class="form-control" rows="2" %}
            </div>
          </div>      
          <div class="row top10">
            <div class="col-sm-2">
              <label>From</label>
            </div>
            <div class="col-sm-10">
            {% if form.instance.invoice_from %}
            {% render_field form.invoice_from class="form-control" rows="2" %}
            {% else %}
              <textarea name="invoice_from" cols="40" rows="2" class="form-control" id="id_invoice_from">{{ inv_form }}</textarea>
            {% endif %}
            </div>
          </div>     
        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <div class="row">
            <div class="col-sm-3">
              <label>Invoice</label>
            </div>
            <div class="col-sm-9">
              <label>#{{ form.instance.id }}</label>
            </div>
          </div>  
          <div class="row">
            <div class="col-sm-3">
              <label>Issue Date</label>
            </div>
            <div class="col-sm-9">
              {% render_field form.invoice_date class="form-control" %}
            </div>
          </div> 
          <div class="row top10">
            <div class="col-sm-3">
              <label>Customer</label>
            </div>
            <div class="col-sm-9">
              {% render_field form.invoice_customer_info class="form-control" rows="2" %}
            </div>
          </div>  
        </div>
      </div>
      <div class="row top10" id="inv_container">
      {% include 'invoice/inv_table.html' %}
      </div>

        


              <p class="top10">
                <button type="submit" class="btn btn-primary pull-right">Save</button>
                <button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
              </p>

      </form>

    </div>
        </div>
        
        
      </div>
    </div>
  </div>

