{% load widget_tweaks %}
<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Customer</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
              <div class="form-group">


      <form action="{% url 'customer_update' form.instance.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

 <div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Customer Name:</label>
          {% render_field form.customer_name class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Customer ABN:</label>
          {% render_field form.customer_abn class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Customer Contact:</label>
          {% render_field form.customer_contact class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Customer Email:</label>
          {% render_field form.customer_email class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Customer Address:</label>
          {% render_field form.customer_address class="form-control" rows="1"  %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Customer Number:</label>
          {% render_field form.customer_number class="form-control" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Customer Contact 1:</label>
          {% render_field form.customer_contact1 class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Customer Address 1:</label>
          {% render_field form.customer_address1 class="form-control" rows="1" %}
        </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
          <label>Customer Number 1:</label>
          {% render_field form.customer_number1 class="form-control" %}
      </div>
  </div>

  <div class="col-sm-6">
     <div class="form-group">
          <label>Is vendor ?</label>
          {% render_field form.is_vendor style="left: 90px;opacity: 100;margin-top: 10px;" %}
        </div>
  </div>
</div>


              <p class="top10">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                <button type="button" class="btn btn-danger pull-right right10" data-dismiss="modal">Close</button>
              </p>
      </form>

    </div>
        </div>
        
   
        
      </div>
    </div>
  </div>